<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Calabonga.Facts.Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="Shortcut Icon" href="~/favicon.ico" />
    @await RenderSectionAsync("Headers", required: false)
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Facts" asp-action="Index">Только факты</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Site" asp-action="Random" title="случайно выбранный факт">Случайный</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Site" asp-action="Cloud" title="облако тегов">Облако меток</a>
                        </li>
                        

                        <partial name="_LoginPartial" />
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="row">
            @RenderBody()
        </main>

        <footer class="row text-muted">
            <ul class="nav nav-pills nav-fill">
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Site" asp-action="About">О проекте</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Site" asp-action="Feedback">Обратная связь</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Site" asp-action="Rss">RSS-канал фактов</a>
                </li>
            </ul>

            <p class="small text-center">
                &copy; 2021 - <a class="link-secondary" style="text-decoration: none" href="https://www.calabonga.net">Calabonga SOFT</a>
            </p>
        </footer>
    </div>

    <environment include="Development">
        <script src="~/js/site.js"></script>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </environment>

    <environment exclude="Development">
        <script src="~/lib/jquery/dist/jquery.min.js" asp></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    </environment>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
