@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Проверьте почту";
}

<div class="row justify-content-center my-5">
    <div class="col-sm-8 col-md-8 col-lg-6 col-xl-6">
        <h1>@ViewData["Title"]</h1>
        <p>
            Проверьте ваш почтовый ящик и не забудьте про спам-папку. Мы отправили вам инструкции по восстановлению пароля.
        </p>
        <p>
            Хотя если вы не являетесь создателем этого сайта, то мы точно вам ничего не высылали.
        </p>
    </div>
</div>

