@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Восстановить пароль";
}

<div class="row justify-content-center my-5">
    <div class="col-sm-8 col-md-8 col-lg-6 col-xl-6">
        <h1>@ViewData["Title"]</h1>
        
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="mb-3">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Отправить</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
