@using Calabonga.Facts.Web.Extensions
@using Calabonga.Facts.RazorLibrary
@model Guid
@if (ViewData["HideLink"] is not null)
{
    <component type="typeof(FactLinkComponent)" render-mode="ServerPrerendered"
              param-LinkValue="@Url.ActionLink("Show", "Facts", new {id = Model})" />
}
else
{
    <a asp-controller="Facts" asp-action="Show" asp-route-id="@Model" asp-route-returnUrl="@Context.GetReturnUrl()">Открыть</a>
}
