@model IEnumerable<Calabonga.Facts.Web.ViewModels.TagViewModel>

@foreach (var tag in Model)
{
    <a asp-controller="Facts" asp-action="Index" asp-route-tag="@tag.Name" 
       class="badge bg-light text-dark" style="text-decoration: none">@tag.Name</a>
}