@using Calabonga.Facts.RazorLibrary
@model Calabonga.Facts.Web.ViewModels.FactCreateViewModel
@{
    ViewData["Title"] = "Создание факта";
}
<div class="row">
    <div class="col">
        
        <div class="mt-3">
            <label class="form-label">Поиск по тексту</label>
            <component type="typeof(SearchContentComponent)" render-mode="ServerPrerendered"/>
        </div>

        @if (Model is not null)
        {
            <form id="fact-editor" asp-action="Add" asp-controller="Facts" Method="post" asp-antiforgery="true">

                <input asp-for="TotalTags" type="hidden" value="@Model.Tags?.Count"/>

                @if (ViewData["Error"] != null)
                {
                    <div class="alert alert-danger">@ViewData["Error"]</div>
                }

                <div class="mb-3">
                    <label asp-for="Content" class=" form-label"></label>
                    <div>
                        <textarea asp-for="Content" class="form-control" rows="6"></textarea>
                        <span asp-validation-for="Content" class="text-danger"></span>
                    </div>
                </div>
                @if (Model.Tags != null)
                {
                    <component type="typeof(TagsEditorComponent)" render-mode="ServerPrerendered"
                               param-Tags="@Model.Tags"/>
                    <br/>
                    <span asp-validation-for="TotalTags" class="text-danger"></span>
                }

                <div class="my-5">
                    <button type="submit" class="btn btn-outline-primary">Сохранить</button>
                </div>

                <div asp-validation-summary="All" class="text-danger"></div>

            </form>
        }

    </div>
</div>

@section Headers
{
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" />
}

@section Scripts
{
    <script src="_framework/blazor.server.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="~/js/custom.validation.js"></script>
}
