@model Calabonga.OperationResults.OperationResult<Calabonga.UnitOfWork.IPagedList<Calabonga.Facts.Web.ViewModels.FactViewModel>>
@{
    Layout = "_LayoutColumn";
    ViewData["Title"] = "Home Page";
}

@if (Model is not null)
{
    foreach (var fact in Model.Result.Items)
    {
        <partial name="_Fact" model="fact" />
    }
}

@section Column
{
    <div class="my-3">
        <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </div>
}