@model Calabonga.OperationResults.OperationResult<Calabonga.UnitOfWork.IPagedList<Calabonga.Facts.Web.ViewModels.FactViewModel>>
@{
    Layout = "_LayoutColumn";
    ViewData["Title"] = "Home Page";
}

@if (Model is not null)
{
    foreach (var fact in Model.Result.Items)
    {
        <partial name="_Fact" model="fact" />
    }
}

@section Column
{
    <p>
        Привет
    </p>
}