@using Calabonga.Facts.RazorLibrary
@model Calabonga.OperationResults.OperationResult<Calabonga.Facts.Web.ViewModels.FactViewModel>

@{
    Layout = "_Layout";
    ViewData["HideLink"] = true;
}
<div class="row">
    <div class="col">

        @if (!Model.Ok)
        {
            <h1>Ошибка</h1>
            <p class="alert alert-warning">
                @Model.Metadata.Message
            </p>
        }
        else
        {
            <partial name="_Fact" model="Model.Result" />
        }
    </div>
</div>
@section Headers
{
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet"/>
}
@section Scripts
{
    <script src="_framework/blazor.server.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
}
