@using Microsoft.AspNetCore.Mvc.Rendering
@model Calabonga.Facts.Web.ViewModels.ManualNotificationViewModel
@{
    ViewData["Title"] = "Отправка сообщения";
    Layout = "_Layout";
    // Calabonga: WHAT I DID (2021-04-25 10:37 SendNotification)
}

<div class="row justify-content-center">
    <div class="col-md-8 col-lg-8 col-xl-8">
        <h1>@ViewData["Title"]</h1>

        <p class="small text-muted">Все поля обязательны для заполнения</p>
        <form asp-controller="Administrator" asp-action="SendNotification" method="post" role="form">
            @Html.ValidationSummary(false, "", new { @class = "text-danger" })

            <div class="mb-3">
                <label asp-for="Subject"></label>
                <input asp-for="Subject" class="form-control" type="text" autofocus />
                <span asp-validation-for="Subject" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="MailTo"></label>
                <input asp-for="MailTo" class="form-control" type="text" />
                <span asp-validation-for="MailTo" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="MailFrom"></label>
                <input asp-for="MailFrom" class="form-control" type="text" />
                <span asp-validation-for="MailFrom" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Body"></label>
                <textarea asp-for="Body" rows="6" class="form-control" id="smalleditor"></textarea>
                <span asp-validation-for="Body" class="text-danger"></span>
            </div>
            <p>
                <button class="btn btn-primary" type="submit">Отправить</button>
                <a class="btn btn-outline-secondary" asp-controller="Administrator" asp-action="Notifications">Список сообщений</a>
            </p>
        </form>

    </div>
</div>

@section scripts
{
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/js/custom.validation.js"></script>
}