<!--LiveInternet counter-->
<script type="text/javascript"><!--
	document.write("<a href='http://www.liveinternet.ru/click' " +
"target=_blank><img src='//counter.yadro.ru/hit?t14.1;r" +
escape(document.referrer) + ((typeof (screen) == "undefined") ? "" :
";s" + screen.width + "*" + screen.height + "*" + (screen.colorDepth ?
screen.colorDepth : screen.pixelDepth)) + ";u" + escape(document.URL) +
";h" + escape(document.title.substring(0, 80)) + ";" + Math.random() +
"' alt='' title='LiveInternet: показано число просмотров за 24" +
" часа, посетителей за 24 часа и за сегодня' " +
"border='0' width='88' height='31'><\/a>")
//--></script>
<!--/LiveInternet-->
<!-- Yandex.Metrika informer -->
<a href="http://metrika.yandex.ru/stat/?id=20911264&amp;from=informer"
target="_blank" rel="nofollow"><img src="//bs.yandex.ru/informer/20911264/3_0_FFFFFFFF_F1F1F1FF_0_pageviews"
style="width:88px; height:31px; border:0;" alt="Яндекс.Метрика" title="Яндекс.Метрика: данные за сегодня (просмотры, визиты и уникальные посетители)" /></a>
<!-- /Yandex.Metrika informer -->
<!-- Yandex.Metrika counter -->
<script type="text/javascript">
	(function (d, w, c) {
		(w[c] = w[c] || []).push(function () {
			try {
				w.yaCounter20911264 = new Ya.Metrika({
					id: 20911264,
					clickmap: true,
					trackLinks: true,
					accurateTrackBounce: true
				});
			} catch (e) { }
		});

		var n = d.getElementsByTagName("script")[0],
			s = d.createElement("script"),
			f = function () { n.parentNode.insertBefore(s, n); };
		s.type = "text/javascript";
		s.async = true;
		s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

		if (w.opera == "[object Opera]") {
			d.addEventListener("DOMContentLoaded", f, false);
		} else { f(); }
	})(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="//mc.yandex.ru/watch/20911264" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->