@{
    ViewData["Title"] = "О проекте";
}
<h1>@ViewData["Title"]</h1>

<p>
    Самые интересные и невероятные факты со всего света. Весь список тем можно посмотреть в облаке меток. Факты нам присылают наши читатели, а мы проверяем и публикуем их. Чтобы отправить свой факт, воспользуйтесь формой обратной связи.
</p>

<p>
    Могу предположить, что интересно будет почитать не про то, как этот проект получился, а про то откуда факты беруться факты на этом сайте, и почему вы должны верить всему, что прочитали на страницах этого сайта. Могу заверить со всей ответственносью, что что факты проверяются и не раз, и с использованием разных источников. Самое главное, что должен учесть посетитель нашего сайта - это то, что факты присылают нам наши посетители.
</p>

<p class="text-end">
    С уважением, Calabonga
</p>
