@{
    ViewData["Title"] = "Сообщение успешно отправлено";
}
<div class="row justify-content-center">
    <div class="col-md-8 col-lg-8 col-xl-8">
        <h2>@ViewData["Title"]</h2>
        <p class="alert alert-info">
            Спасибо за ваше сообщение. Как только администрация ознакомиться с посланием, Вы
            сразу же узнаете об этом. Ответ будет направлен на адрес указанный в сообщении.
        </p>
        <p class="float-end">
            С уважением, Администрация
        </p>
    </div>
</div>