@{
    Layout = "_LayoutColumn";
    ViewData["Title"] = "Home Page";
}
<p>Index: @ViewData["Index"]</p>
<p>Tag: @ViewData["Tag"]</p>
<p>Search: @ViewData["Search"]</p>

@section Column
{
    <p>
        Привет
    </p>
}