@using Microsoft.JSInterop
<span class="btn btn-link" @onclick="_ => CopyToClipboard(LinkValue)" title ="Скопироваться ссылку на факт">Скопировать ссылку</span>

@code {

    [Parameter]public string LinkValue { get; set; }
    [Inject]IJSRuntime JsRuntime { get; set; }

    protected async Task CopyToClipboard(string value)
    {
        var interop = new RazorInterop(JsRuntime);
        await interop.CopyToClipboard(value);
        await interop.ShowToast(value, "Скопировано!", "success");
    }
}
